/* Used to place background image */
body {
    background-image: url("../img/1963sfbay.jpeg");
    background-color: #cccccc;
   }

/* Used to create colored text-box to read content easier over background */
.text-box {
    background-color:rgba(117, 128, 26, 0.966);
    border:rgb(0, 0, 0) 40px;
    padding: 1vw 4vw;
    box-shadow: 20px #494949;
    border-radius: 50px/50px;
    width: fit-content; width:-webkit-fit-content; width:-moz-fit-content !important;   
}

/* Used to change font and font color for header text */
h1 {
    font-family: 'Oswald', sans-serif;
}

/* Used to change font and font color for standard text */
p {
    font-family: 'PT Serif', serif;
    font-size: large;
    color:  #343a40 !important;
}

.font-pt-serif {
  font-family: 'PT Serif', serif;
}

ul {
    font-size: large;
}

/* Change color of stylized words in headers */
.text-primary {
    color: #96361f !important;
  }

/* Used to change color of smaller heading text */
body {
    padding-top: 3.375rem;
    color: #343a40;
  }

/* Used to change the color of the navbar */
.bg-primary {
  background-color:rgba(117, 128, 26, 0.966) !important;
  }

/* Used to modify profile image--was too bright and messed with color scheme */
img {
    -webkit-filter: grayscale(25%); /* Safari 6.0 - 9.0 */
    filter: grayscale(25%);
  }

/* Used to change colors of the links and link highlights */

a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    background-color: transparent;
  }
  a:hover {
    color: #96361f;
    text-decoration: underline;
  }

/* Used to change hover color for social media link icons */
  .social-icons .social-icon:hover {
    background-color: #96361f;
  }
